fastapi
uvicorn[standard]
opencv-python-headless==4.8.1.78
pillow
imagehash
google-cloud-storage
google-cloud-pubsub
google-cloud-firestore
firebase-admin
python-multipart
numpy==1.23.5
mediapipe==0.10.8